:root {
    --color1: darkblue;
    --color2: darkgreen;
    --color3: white;
    --color4: black;
}

* {
    box-sizing: border-box;
    background-color: var(--color3);
}

#highscores {
    display: flex;
    flex-wrap: wrap; 
}

#time-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#seconds {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
